# Gradle
.gradle/
build/
out/
gradle-app.setting
build_output.txt
versions/

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
*.classpath
*.project
.settings/
.c9/
*.launch

# Minecraft
run/
.mixin.env

# macOS
.DS_Store

# Windows
Thumbs.db
*.bat.bak

# Misc
*.log
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.zip
client_output.txt
debug_id.txt
id_test.txt
test_output.txt
