name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Make Gradle executable
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew build

      - name: Extract current changelog
        run: ./gradlew writeCurrentChangelog

      - name: Publish to Modrinth
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
        run: ./gradlew modrinth

      - name: Publish to CurseForge
        env:
          CURSEFORGE_API_TOKEN: ${{ secrets.CURSEFORGE_API_TOKEN }}
        run: ./gradlew publishCurseforgePublicationToCurseForge

      - name: GitHub Release (attach jar)
        uses: softprops/action-gh-release@v2
        with:
          body_path: build/current-changelog.md
          files: |
            build/libs/*.jar
